@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: url("https://cdn.wallpapersafari.com/5/1/LYKSli.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}

#title1 {
  /* padding: 35px; */
  font-size: 35px;
  font-family: "Varela Round", sans-serif;
  color: #1db954;
  letter-spacing: 5px;
}
#title-sub1 {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 0px;
}

.title-container {
  width: 550px;
  height: 150px;
}

.player-container {
  height: 525px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.img-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

.long-title {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.title-holder {
  height: 25px;

}

.artist-holder {
  height: 20px;
}

.xl-title {
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.long-artist {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0 0;
}

/* Progress */
.progress-container {
  background: lightslategray;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: white;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  width: 100%;
}

.extra-controls {
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#genre {
  font-size: 25px;
  color: white;
  margin-left: 40px;
}

.fas {
  font-size: 30px;
  color: white;
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
}

.fas.fa-sliders-h {
  font-size: 30px;
  cursor: pointer;
  user-select: none;

}

.fas.fa-angle-right {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  margin-right: 40px;
}

.fas.fa-volume-up, .fas.fa-volume-mute, .fas.fa-angle-left {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  /* margin-left: 50px; */
  color: whitesmoke;
}

.fas.fa-redo,
.fas.fa-random {
  font-size: 30px;
  color: pink;
  /* margin-right: 30px; */
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

@media screen and (max-width: 376px) {
  .player-container {
      width: 95vw;
  }
  .img-container {
      left: 29px;
  }
  .title-container {
    width: 85vw;
  }

  #title1 {
    font-size: 20px;
    letter-spacing: 0px;
    
  }
  #title-sub1 {
    font-size: 15px;
    
  }

  h2 {
      font-size: 20px;
  }
  h3 {
      font-size: 15px;
  }
  .player-controls {
      /* top: -10px;
      left: 100px; */
  }

  .extra-controls {

  }
}
