@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: auto;
  min-height: 100vh;
  background: url("images/0.png");
  transition: all 2s linear;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}

.dummy-images {
  display: none;
}

.title {
  font-size: 35px;
  font-family: "Varela Round", sans-serif;
  color: #1db954;
  letter-spacing: 0px;
}

.title-sub {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 0px;
}

.title-container {
  text-align: center;
  width: 550px;
  height: 150px;
}

.player-container {
  height: 520px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.img-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

.long-title {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.track-title-container {
  height: 25px;
}

.artist-container {
  height: 20px;
}

.xl-title {
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.long-artist {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0 0;
}

.progress-container {
  background: lightslategray;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #1db954;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.player-controls {
  position: relative;
  top: -25px;
  width: 100%;
}

.extra-controls {
  position: relative;
  margin: -5px 5px 0 5px;
  width: 390px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.genre {
  padding: 7.5px;
  font-size: 22px;
  margin-left: 40px;
}

.fas {
  font-size: 30px;
  color: whitesmoke;
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
}

.fas.fa-angle-right {
  font-size: 30px;
  margin-right: 40px;
  padding: 5px;
}

.fas.fa-angle-left {
  font-size: 30px;
  padding: 5px;
}

.fas.fa-redo,
.fas.fa-random {
  font-size: 30px;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  color: whitesmoke;
  font-size: 40px;
  position: relative;
  top: 3px;
}

@media screen and (max-width: 414px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  .title-container {
    display: none;
  }

  .extra-controls {
    width: 92vw;
    margin: -1px 5px 0 5px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .fas {
    font-size: 20px;
  }

  .main-button {
    font-size: 30px;
  }

  .fas.fa-redo,
  .fas.fa-random {
    font-size: 20px;
  }
}
